@using MvcPL.Infrastructure.Helpers
@model MvcPL.Models.CourseModels.CourseBaseListViewModel
@{
    Layout = null;
}

@foreach (var course in Model.Courses)
{
    <div class="row">

        <dl class="dl-horizontal">
            <dt>
                Title
            </dt>

            <dd>
                @course.Title
            </dd>

            <dt>
                Modules
            </dt>

            <dd>
                @course.ModulesNumber
            </dd>

            <dt>
                Tags
            </dt>

            <dd>
                @foreach (var tag in course.Tags)
                {
                    <span class="label label-info">@tag</span>
                }
            </dd>
            @if (!course.IsEditable) // so, it's not user created course
            {
                <dt>
                    Author
                </dt>

                <dd>
                    @course.Author
                </dd>

                if (course.EnrolmentInfo.IsCompleted)
                {
                    <span class="label label-success">Completed</span>
                }
                else
                {
                    if (course.EnrolmentInfo.UserEnrolled)
                    {
                        <span class="label label-default">In progress</span>
                        @Html.ActionLink("Leave", "Delete", "Enrolment", new {courseId = course.Id}, new {@class = "btn btn-sm btn-danger"})
                    }
                    else
                    {
                        @Html.ActionLink("Enrol", "Register", "Enrolment", new {courseId = course.Id}, new {@class = "btn btn-sm btn-success"})
                    }
                }
            }
        </dl>
        <div class="row">
             @Html.ActionLink("Show more", "Content", "Course", new {courseId = course.Id}, new {@class = "btn btn-default btn-xs"})

            @if (course.IsEditable)
            {
                @Html.ActionLink("Edit", "Edit", "Course", new { courseId = course.Id }, new { @class = "btn btn-default btn-xs btn-space" })
                @Html.ActionLink("Delete", "Delete", "Course", new { courseId = course.Id }, new { @class = "btn btn-danger btn-xs" })
            } 
        </div>
        
        
        <hr />
    </div>
}
<p style="margin: 0 auto; width: 130px;">
    <img class="img-responsive" src="/Content/loader-horizontal.gif" alt="loading..." style="display: none; margin: 0 auto;" id="paging-loader">
</p>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, "searchResult", "paging-loader", Model.PageUrl)
</div>


