@using MvcPL.Infrastructure.Helpers
@using MvcPL.Models
@model MvcPL.Models.LessonModels.LessonContentEditViewModel
@*@{Layout == null}*@

    <div id="page-block">
        <p>@Model.PageInfo.PageNumber / @Model.PageInfo.TotalPages </p>
        <p>Course - @Model.BaseInfo.CourseId | Module - @Model.BaseInfo.ModuleId</p>
        @using (Html.BeginForm("Edit", "LessonPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" value="@Model.PageInfo.PageNumber" name="pageNumber">
            @Html.HiddenFor(m => m.Page.Id)
            @Html.HiddenFor(m => m.Page.LessonId)
            <input type="hidden" name="moduleId" value="@Model.BaseInfo.ModuleId"/>
            <input type="hidden" name="courseId" value="@Model.BaseInfo.CourseId"/>

            <div class="well clearfix" id="editBlock">
                <div class="col-sm-6 col-lg-6">
                    @Html.EditorFor(m => m.Page.Title)
                    <div class="form-group">
                        @*<textarea class="form-control" rows="5" name="Text" id="comment" placeholder="Enter your info"> @Model.Page.Text</textarea>*@
                        @Html.EditorFor(m => m.Page.Text)
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div id="image-block">
                        @if (Model.Page.Image != null)
                        {
                            @Html.HiddenFor(m => m.Page.Image.Id)
                            <img src="@Url.Action("GetImage", "Storage", new {id = Model.Page.Image.Id})" class="img-responsive" alt="@Model.Page.Image.Title"/>

                        }
                    </div>


                    @Ajax.ActionLink("Add from Storage", "ImageCatalog", "Storage", new
                    {
                        attachMode = true,
                        CourseId = Model.BaseInfo.CourseId,
                        ModuleId = Model.BaseInfo.ModuleId,
                        LessonId = Model.BaseInfo.Id,
                        LessonPageId = Model.Page.Id,
                        Page = Model.PageInfo.PageNumber
                    },
                        new AjaxOptions
                        {
                            UpdateTargetId = "page-block",
                            LoadingElementId = "loader",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "get"
                        })

                    @Html.EditorFor(m => m.Page.Image.Title)
                    <input type="file" name="upload" value="Load"/><br>
                    <input type="submit" value="Submit"/>
                </div>
            </div>
            <p style="margin: 0 auto; width: 130px;">
                <img class="img-responsive" src="/Content/loader-horizontal.gif" alt="loading..." style="display: none; margin: 0 auto;" id="loader">
            </p>
        }

        @Html.LessonPageLinks(Model.PageInfo, "page-block", "", x => Url.Action("ContentEdit", "Lesson", new
                                                                               {
                                                                                   lessonId = Model.BaseInfo.Id,
                                                                                   moduleId = Model.BaseInfo.ModuleId,
                                                                                   courseId = Model.BaseInfo.CourseId,
                                                                                   page = x
                                                                               }))
    </div>

