@model MvcPL.Models.LessonModels.LessonContentEditViewModel

@{
    ViewBag.Title = "ContentEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Model != null)
    {
        <h2>@Model.BaseInfo.Title</h2>
        <p>@Model.BaseInfo.Description</p>
        <hr/>
        @Html.Partial("_LessonPageEdit", Model)
        @Html.ActionLink("Back to Module", "Details", "Module", new { moduleId = Model.BaseInfo.ModuleId, courseId = Model.BaseInfo.CourseId }, null)
    }


</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

