@model MvcPL.Models.ModuleModels.ModuleContentViewModel

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.BaseInfo.Title</h2>

<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            @Html.ActionLink(article.Title, "Article", "Details", new {articleId = article.Id}, null)
        </li>
    }
</ul>
@if (Model.Quiz != null)
{
    <p> @Html.ActionLink(Model.Quiz.Title, "Quiz", "Details", new {quizId = Model.Quiz.Id}, null)</p>
}
else
{
    <p>No quiz here</p>
}

@if (Model.Lesson != null)
{
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
@if (Model.BaseInfo.IsEditable)
{
    @Html.ActionLink(Model.Lesson.Title, "ContentEdit", "Lesson", new {lessonId = Model.Lesson.Id}, null)
}
else
{
    <p>Lesson Content</p>
}
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Lesson.Description
        </dd>

        <dt>
            Pages
        </dt>

        <dd>
            @Model.Lesson.PageCount
        </dd>
    </dl>
    if (Model.BaseInfo.IsEditable)
    {
        @Html.ActionLink("Edit", "Edit", "Lesson", new { lessonId = Model.Lesson.Id }, null)
        @Html.ActionLink("Delete", "Delete", "Lesson", new { lessonId = Model.Lesson.Id, moduleId = Model.BaseInfo.Id }, null)
    }

}
else
{
    if (Model.BaseInfo.IsEditable)
    {

        @Html.ActionLink("Create Lesson", "Create", "Lesson", new {moduleId = Model.BaseInfo.Id}, null)
    }
    else
    {
        <p>No Lesson here</p>
    }
}

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
