@model MvcPL.Models.ModuleModels.ModuleContentViewModel

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.BaseInfo.Title</h2>

<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            @Html.ActionLink(article.Title, "Article", "Details", new {articleId = article.Id}, null)
        </li>
    }
</ul>
@if (Model.Quiz != null)
{
    <p> @Html.ActionLink(Model.Quiz.Title, "Quiz", "Details", new {quizId = Model.Quiz.Id}, null)</p>
}
else
{
    <p>No quiz here</p>
}

@if (Model.Lesson != null)
{
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Model.Lesson.Title
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Lesson.Description
        </dd>

        <dt>
            Pages
        </dt>

        <dd>
            @Model.Lesson.PageCount
        </dd>
    </dl>
        <p>@Html.ActionLink(Model.Lesson.Title, "ContentEdit", "Lesson", new { lessonId = Model.Lesson.Id }, null)</p>
        }
        else
        {
        @Html.ActionLink("Create Lesson", "Create", "Lesson", new { moduleId = Model.BaseInfo.Id }, null)
        }
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
