@model MvcPL.Models.CourseModels.CourseBaseViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to leave this course?</h3>
<div>
    <h4>Course Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulesNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulesNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Leave course" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
